@media only screen and (min-width: 769px) {
    .overlay {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
        background: white;
        position: initial;
        width: auto;
        height: auto;
    }

    .overlayMenu ul li {
        opacity: 1;
    }

    .overlayMenu ul {
        display: flex;
    }
    .navBurger {
        display: none;
    }
    .overlayMenu {
        position: inherit;
    }
    .overlayMenu ul li a {
        display: block;
        border: none;
        color: #484c55;
        text-decoration: none;
        font-size: 15px;
        padding: 44px 30px 44px 20px;
        margin: 0;
        transition: 0.4s;
    }
    .overlayMenu ul li a:hover, .overlayMenu ul li a:active, .overlayMenu ul li a:focus {
        transform: translateX(0px);
        color: #49cbcd;
        padding-left: 20px;
        outline: none;
        background: #f8f9fb;
    }
    .overlayMenu ul li a:after{
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background: transparent;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .overlayMenu ul li a:hover:after{
        background: #49cbcd;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .overlay {
        opacity: 0;
        transform: scale(0);
        visibility: hidden;
    }

    .overlayMenu ul li {
        opacity: 0;
    }

    .overlayMenu ul {
        display: block;
    }
    .navBurger {
        display: initial;
    }
    h1{
        font-size: 1.93rem;
        margin-bottom: 15px;
    }
    .btn{
        font-size: 1.2rem;
        line-height: 1.2rem;
        margin-top: 10px;
        padding: 15px;
    }
    .text-container{
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}
@media only screen and (max-width: 425px) {
    h1 {
        font-size: 1.2rem;
        margin-bottom: 1px;
    }
    .text-container {
        font-size: 0.9rem;
        line-height: 1rem;
    }
    .btn {
        font-size: 1rem;
        padding: 5px 10px;
    }
    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
        width: 20px;
        height: 20px;
        margin-top: -10px;
        font-size: 12px;
    }
    .owl-nav .owl-prev {
        left: 10px;
    }
    .owl-nav .owl-next {
        right: 10px;
    }
}
@media only screen and (max-width: 425px) {
    .container-sm{
        max-width: 350px;
    }

}

