* {
  padding: 0;
  margin: 0;
  font-size: inherit;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: auto;
}

body{
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.d-flax {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
.logo {
  max-width: 120px;
}
.logo img{
width: 100%;
}
//header begin
.navBurger {
  display: none;
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background: #111;
  box-sizing: border-box;
  background-clip: content-box;
  width: 30px;
  height: 24px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  &:before,
  &:after {
    content: "";
    position: absolute;
    background: #111;
    height: 2px;
    width: 100%;
    right: 0;
    will-change: rotate;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  &:before {
    top: -10px;
  }
  &:after {
    bottom: -10px;
    width: 90%;
  }
  &.active {
    background: transparent;
    background-clip: content-box;
    z-index: 3;
  }
  &.active:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
    background: #eee;
    width: 110%;
  }
  &.active:after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: #eee;
    width: 110%;
  }
}

.overlay {
  position: fixed;
  background: #49cbcd;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform-origin: right top;
  transform: scale(0);
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  &.open {
    opacity: 0.79;
    z-index: 2;
    visibility: visible;
    transform: scale(1);
    li {
      display: block;
      animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5)
      forwards;
      animation-delay: 0.4s;
      transform: rotate(-7deg);
      transform-origin: right bottom;
      &:nth-of-type(2) {
        animation-delay: 0.5s;
      }
      &:nth-of-type(3) {
        animation-delay: 0.6s;
      }
      &:nth-of-type(4) {
        animation-delay: 0.7s;
      }
      &:nth-of-type(5) {
        animation-delay: 0.8s;
      }
    }
  }
}

.overlayMenu {
  position: absolute;
  text-align: right;
  right: 10vw;
  bottom: 10vw;
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;
    li {
      display: block;
      position: relative;
      opacity: 0;
      width: 100%;
      a {
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: #fff;
        text-decoration: none;
        font-size: 30px;
        padding: 10px 40px 10px 40px;
        margin: 5px 0;
        transition: 0.4s;
        &:hover,
        &:active,
        &:focus {
          transform: translateX(-2px);
          padding-left: 80px;
          outline: 1px solid rgba(255, 255, 255, 0.3);
          background: rgba(255, 255, 255, 0.03);
        }
      }
    }
  }
}

.locked {
  overflow: hidden;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
  }
}

// ---------------- Display --------------------

//header end

//slider begin
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  font-family: 'Font Awesome 5 Free';
  color: #49cbcd;
  font-weight: 900;
  outline: none;
  font-size: 27px;
}

.owl-nav .owl-prev {
  left: 30px;
}

.owl-nav .owl-prev:before {
  content: "\f053";
}

.owl-nav .owl-next {
  right: 30px;
}

.owl-nav .owl-next:before {
  content: "\f054";
}

.owl-carousel button:hover {
  opacity: 0.8;
}
.owl-dots {
  display: none;
}

//slider end

.slide-img {
  position: relative;
}
.container-sm{
  max-width: 680px;
  margin: auto;
}
.text-container {
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: white;
  font-size: 1.43rem;
  line-height: 2.31rem;
  font-weight: 400;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.93rem;
  font-weight: 600;
  line-height: initial;
  margin-bottom: 30px;
}
.text-container p{
  max-width: 408px;
  margin: auto;
}
.btn{
  font-size: 1.625rem;
  line-height: 1.5rem;
  font-weight: 600;
  padding: 20px 35px;
  border:3px solid white;
  border-radius: 4px;
  margin-top: 50px;
  display: inline-block;
}
.btn:hover{
  opacity: 0.5;
}

