@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap";
@import "../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin min-screen($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}

$main-color: white;
$second-bg: #f1f1f1;
$title-c-bg: #485460;
$title-c-hover-bg: #49cbcd;
$darken-c-c: #f8f9fb;
$b-color: #ecf0f1;
$btn-bg: #788492;

* {
  padding: 0;
  margin: 0;
  font-size: inherit;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: auto;

  @include max-screen(1170px) {
    padding: 20px;
  }
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.d-flax {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.f-wrap{
  flex-wrap: wrap;
}

.logo {
  max-width: 120px;
}

.logo img {
  width: 100%;
}

//header begin
.navBurger {
  display: none;
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background: #111;
  box-sizing: border-box;
  background-clip: content-box;
  width: 30px;
  height: 24px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  @include min-screen(769px) {
    display: none;
  }

  @include max-screen(768px) {
    display: initial;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    background: #111;
    height: 2px;
    width: 100%;
    right: 0;
    will-change: rotate;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  &:before {
    top: -10px;
  }

  &:after {
    bottom: -10px;
    width: 90%;
  }

  &.active {
    background: transparent;
    background-clip: content-box;
    z-index: 3;
  }

  &.active:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
    background: #eee;
    width: 110%;
  }

  &.active:after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: #eee;
    width: 110%;
  }
}

.overlay {
  position: fixed;
  background: #49cbcd;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform-origin: right top;
  transform: scale(0);
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  overflow: hidden;

  @include min-screen(769px) {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    background: white;
    position: initial;
    width: auto;
    height: auto;
  }

  @include max-screen(768px) {
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }

  &.open {
    opacity: 0.79;
    z-index: 2;
    visibility: visible;
    transform: scale(1);

    li {
      display: block;
      animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
      animation-delay: 0.4s;
      transform: rotate(-7deg);
      transform-origin: right bottom;

      &:nth-of-type(2) {
        animation-delay: 0.5s;
      }

      &:nth-of-type(3) {
        animation-delay: 0.6s;
      }

      &:nth-of-type(4) {
        animation-delay: 0.7s;
      }

      &:nth-of-type(5) {
        animation-delay: 0.8s;
      }
    }
  }
}

.overlayMenu {
  position: absolute;
  text-align: right;
  right: 10vw;
  bottom: 10vw;

  @include min-screen(769px) {
    position: inherit;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;

    @include min-screen(769px) {
      display: flex;
    }
    @include max-screen(768px) {
      display: block;
    }

    li {
      display: block;
      position: relative;
      opacity: 0;
      width: 100%;

      @include min-screen(769px) {
        opacity: 1;
      }
      @include max-screen(768px) {
        opacity: 0;
      }

      a {
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: #fff;
        text-decoration: none;
        font-size: 30px;
        padding: 10px 40px 10px 40px;
        margin: 5px 0;
        transition: 0.4s;

        @include min-screen(769px) {
          display: block;
          border: none;
          color: #484c55;
          text-decoration: none;
          font-size: 15px;
          padding: 44px 30px 44px 20px;
          margin: 0;
          transition: 0.4s;
          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background: transparent;
            position: absolute;
            left: 0;
            bottom: 0;
          }
          &:hover:after {
            background: #49cbcd;
          }
        }

        &:hover,
        &:active,
        &:focus {
          transform: translateX(-2px);
          padding-left: 80px;
          outline: 1px solid rgba(255, 255, 255, 0.3);
          background: rgba(255, 255, 255, 0.03);

          @include min-screen(769px) {
            transform: translateX(0px);
            color: #49cbcd;
            padding-left: 20px;
            outline: none;
            background: #f8f9fb;
          }
        }
      }
    }
  }
}

.locked {
  overflow: hidden;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
  }
}

// ---------------- Display --------------------

//header end

//slider begin
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  font-family: 'Font Awesome 5 Free';
  color: #49cbcd;
  font-weight: 900;
  outline: none;
  font-size: 27px;

  @include max-screen(425px) {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    font-size: 12px;
  }
}

.owl-nav .owl-prev {
  left: 30px;
  @include max-screen(425px) {
    left: 10px;
  }
}

.owl-nav .owl-prev:before {
  content: "\f053";
}

.owl-nav .owl-next {
  right: 30px;
  @include max-screen(425px) {
    right: 10px;
  }
}

.owl-nav .owl-next:before {
  content: "\f054";
}

.owl-carousel button:hover {
  opacity: 0.8;
}

.owl-dots {
  display: none;
}

//slider end

.slide-img {
  position: relative;
}

.container-sm {
  max-width: 680px;
  margin: auto;

  @include max-screen(375px) {
    max-width: 330px;
  }

  h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.93rem;
    font-weight: 600;
    line-height: initial;
    margin-bottom: 30px;

    @include max-screen(768px) {
      font-size: 1.93rem;
      margin-bottom: 15px;
    }
    @include max-screen(425px) {
      font-size: 1.2rem;
      margin-bottom: 1px;
    }
  }
}


.text-container {
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: white;
  font-size: 1.43rem;
  line-height: 2.31rem;
  font-weight: 400;

  @include max-screen(768px) {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  @include max-screen(425px) {
    font-size: 0.9rem;
    line-height: 1rem;
  }

  p {
    max-width: 408px;
    margin: auto;
  }
}

.btn {
  font-size: 1.625rem;
  line-height: 1.5rem;
  font-weight: 600;
  padding: 20px 35px;
  border: 3px solid white;
  border-radius: 4px;
  margin-top: 50px;
  display: inline-block;

  @include max-screen(768px) {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-top: 10px;
    padding: 15px;
  }
  @include max-screen(425px) {
    font-size: 1rem;
    padding: 5px 10px;
  }

  &:hover {
    opacity: 0.5;
  }
}

//rate section begin
.rate-box {
  background-color: $second-bg;
  padding: 120px 0 100px;
  text-align: center;

  ul {
    max-width: 370px;
    flex-basis: 33%;
    border-radius: 2px;
    background-color: $main-color;
    color: #8c9299;
    border: 1px solid $b-color;

    @include max-screen(768px) {
      flex-basis: 50%;
      margin-bottom: 20px;
    }
    @include max-screen(425px) {
      flex-basis: 100%;
    }

    li {
      border-bottom: 1px solid $b-color;
      padding: 15px;

      &:first-of-type {
        background-color: $title-c-bg;
        color: $main-color;
        font-size: 1.625rem;
      }

      &:nth-of-type(2) {
        background-color: $darken-c-c;
        font-size: 1.25rem;
        color: $title-c-bg;
      }

      &:last-of-type {
        background-color: $darken-c-c;
        border-bottom: none;
        padding: 30px 15px;
      }

      a {
        font-size: 1.1rem;
        background-color: $btn-bg;
        color: $main-color;
        border: none;
        padding: 15px 50px;
        margin-top: 0;
      }
    }

    &:hover a,
    &:hover li:first-of-type {
      background-color: $title-c-hover-bg;
    }

  }
}